.bounding-box {
    /* copied from clarifai face-recognition model */
    position: absolute;
    box-shadow: 0 0 0 3px #149df2 inset;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    cursor: pointer;
}

#inputimage {
    width: 500px;
    height: auto;
}

#middle {
    width: 100vw;
    display: flex;
    justify-content: center;

}